<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WP_XML_RPC_BLOG_ID" value="1" />
    <add key="WP_XML_RPC_URL" value="http://www.domain.com/xmlrpc.php" />
    <add key="WP_XML_RPC_USERNAME" value="" />
    <add key="WP_XML_RPC_PASSWORD" value="" />
  </appSettings>
</configuration>